body {
    background: lightpink;
    font-family: 'Press Start 2P';
}

.making-pancakes {
    font-size: 30px;
    color: lightyellow;
    text-align: center;
    animation-name: cooking;
    animation-duration: .75s;
    animation-iteration-count: infinite;
}

.loading-bar {
    border: 3px solid lightyellow;
    border-radius: 10px;
    display: block;
    height: 50px;
    max-width: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.progress {
    background: orange;
    position: relative;
    z-index: -1;
    height: 50px;
    max-width: 400px;
    animation-name: progression;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

.all-done {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: auto;
    animation-name: done;
    animation-duration: 15s;
    animation-iteration-count: 1;
    padding: 2em;
    float: center;
}

.caption {
    color: palegreen;
    font-size: 35px;
    position: relative;
    width: 400px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    object-position: 50%;
}

.home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 4px gray;
    background-color: peachpuff;
    border: 5px solid #f08080;
    border-radius: 20px;
    padding: 1em;
    font-family: 'Press Start 2P';
    color: lightcoral;
    object-position: 50%;
}

.home:active {
    box-shadow: 1px 2px gray;
    transform: translate(4px, 4px);
    
}

@keyframes cooking {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes progression {
    0% {
        width: 0%;
    }
    70% {
        width: 60%;
    }
    90% {
        width: 85%;
    }
    95% {
        width: 96%;
    }
    100% {
        width: 100%;
    }
}

@keyframes done {
    0% {
        opacity: 0%;
    }
    68% {
        opacity: 0%;
    }
    85% {
        opacity: 0%;
        transform: scale(.5, .5);
    }
    100% {
        opacity: 100%;
        transform: scale(1, 1);
    }
}